{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>LBenno</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway">
        <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">-->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/blog2.css' %}">
        <link rel="stylesheet" href="{% static 'css/blog3.css' %}">
        {{ form.media }}
    </head>

    <body>
        <header class="page-header">
            <div class="container">
                {% if user.is_authenticated %}
                    </a>
                    <a href="{% url 'post_draft_list' %}" class="top-menu">
                        {% include './icons/pencil-fill.svg' %}
                    </a>
                    <a href="{% url 'post_new' %}" class="top-menu">
                        {% include './icons/file-earmark-plus.svg' %}
                    </a>
                    <p class="top-menu">
                        Hello {{ user.username }} 
                        (<a href="{% url 'logout' %}">Log out</a>) 
                    </p>
                {% else %}
                    <a href="{% url 'login' %}" class="top-menu">
                        {% include 'registration/icons/unlock.svg' %}
                    </a>
                {% endif %}
                
                <h1>
                    <a href="/">LBenno</a>
                </h1>
            </div>
        </header>

        <div id="mySidenav" class="sidenav">
            <!--<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
            <img class="greyscale" 
                src="{% static 'img/lbenno-cartoon.png'%}"
                alt="Pic of Lauren" width="120">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'post_list' %}">Blog</a>
            <a href="{% url 'project_list' %}">Projects</a>
        </div>
    
        <!-- Use any element to open the sidenav -->
        <!--<span onclick="openNav()">open</span>-->
        
        
        <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
        <div id="main">
            <main class="container">
                <div class="row">
                    <div class="col">
                    {% block content %} 
                    {% endblock %}
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>