{% extends 'blog/base.html' %}

{% block content %}
    <p width="350">
        Hi, I'm <b>Lauren Benson</b>, a.k.a <i>LBenno</i><br>
        This is my simple website for displaying information about the tech projects I've been working on. <br><br>
        
        <b>Check out my full resume here: 
            <!--Opens LinkedIn in a new tab-->
            <a target="_blank" href="https://www.linkedin.com/in/lauren-benson-161702a1">LinkedIn</a></b><br>
        </p>
    <img src="../../static/img/lbenno-cartoon.png" alt="Pic of Lauren" width="350"> <br><br>


{% endblock %}