/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #918e8e;
  display: block;
  transition: 0.3s;
}

  .sidenav img {
    padding: 0px 0px 0px 32px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
 
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* The sidenav */
.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: #282626;
    overflow-x: hidden;
    padding-top: 10px;
  }
  
   /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
   #main {
    transition: margin-left .5s;
    padding: 20px;
    margin-left: 150px; /* Same as the width of the sidenav */
    margin-top: 120px;
  }
  

  img.greyscale {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  }

  .page-header {
    background-color: #2e2e40;
    /* z-index: 1; */
    top: 0px;
    width: 100%;
    position: fixed;
    left: 150px;
 /* Same as the width of the sidenav */
    /* padding: 20px 20px 20px 120px;*/
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #b0adad;
    font-size: 36pt;
    text-decoration: none;
    left: 180px;
    position: fixed;
}