body {
    background-color: rgb(202, 204, 205);
    font-family: "Raleway", sans-serif;
  }


h1, h2, h3, h4 {
    font-family: "Raleway", sans-serif;
}

h1, h2 {
    font-weight: bold;
}

h1 {
    color: #918e8e;
}

.date {
    color: #565656;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited,
.top-menu p {
    color: #918e8e;
    font-size: 14pt;
    padding-right: 3%;
    margin-right: 5%;
    z-index: 1;
    position: relative;
    float: right;
}

.post {
    margin-bottom: 30px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}

.comment {
    font-size: 13px; 
}

.comment > .author {
    color: #565656; 
}